<!--
  Generated template for the MyWalletPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button class="btn" menuToggle [(ngClass)]='iconRight'><ion-icon name="menu"></ion-icon></button>
  </ion-navbar>

  <div class="text-header">
    <p>{{ 'Thetotal' | translate }}</p>
    <h1>5,000 ريال</h1>
    <p>{{ 'account' | translate }} <span>5000 ريال</span></p>
    <button class="btn-button bg-blue" (click)="openPopup()">
        <img src="assets/imgs/wallet.png">
        {{ 'Increase' | translate }}
    </button>
  </div>

</ion-header>


<ion-content padding>

  <div class="order">
      <ion-grid>
        <div class="up-order">
            <ion-row>
              <ion-col col-2>
                  <span class="circl bg-green"><ion-icon name="ios-arrow-up-outline"></ion-icon></span>
              </ion-col>
                <ion-col col-7>
                    <h3>
                        {{ 'AddWallet' | translate }}
                      <br>
                      <strong>11/8/2019</strong>
                    </h3>
                </ion-col>
                <ion-col col-3>
                    <h5 class="color-green">+ 200 ريال</h5>
                </ion-col>
            </ion-row>
        </div>
      </ion-grid>
  </div>

  <div class="order">
      <ion-grid>
        <div class="up-order">
            <ion-row>
              <ion-col col-2>
                  <span class="circl bg-red"><ion-icon name="ios-arrow-down-outline"></ion-icon></span>
              </ion-col>
                <ion-col col-7>
                    <h3>
                        {{ 'request' | translate }}
                      <br>
                      <strong>11/8/2019</strong>
                    </h3>
                </ion-col>
                <ion-col col-3>
                    <h5 class="color-red">- 200 ريال</h5>
                </ion-col>
            </ion-row>
        </div>
      </ion-grid>
  </div>

  <div class="order">
        <ion-grid>
          <div class="up-order">
              <ion-row>
                <ion-col col-2>
                    <span class="circl bg-green"><ion-icon name="ios-arrow-up-outline"></ion-icon></span>
                </ion-col>
                  <ion-col col-7>
                      <h3>
                          {{ 'AddWallet' | translate }}
                        <br>
                        <strong>11/8/2019</strong>
                      </h3>
                  </ion-col>
                  <ion-col col-3>
                      <h5 class="color-green">+ 200 ريال</h5>
                  </ion-col>
              </ion-row>
          </div>
        </ion-grid>
    </div>

    <div class="order">
        <ion-grid>
            <div class="up-order">
                <ion-row>
                <ion-col col-2>
                    <span class="circl bg-red"><ion-icon name="ios-arrow-down-outline"></ion-icon></span>
                </ion-col>
                    <ion-col col-7>
                        <h3>
                            {{ 'request' | translate }}
                        <br>
                        <strong>11/8/2019</strong>
                        </h3>
                    </ion-col>
                    <ion-col col-3>
                        <h5 class="color-red">- 200 ريال</h5>
                    </ion-col>
                </ion-row>
            </div>
        </ion-grid>
    </div>

    <div class="order">
            <ion-grid>
              <div class="up-order">
                  <ion-row>
                    <ion-col col-2>
                        <span class="circl bg-green"><ion-icon name="ios-arrow-up-outline"></ion-icon></span>
                    </ion-col>
                      <ion-col col-7>
                          <h3>
                              {{ 'AddWallet' | translate }}
                            <br>
                            <strong>11/8/2019</strong>
                          </h3>
                      </ion-col>
                      <ion-col col-3>
                          <h5 class="color-green">+ 200 ريال</h5>
                      </ion-col>
                  </ion-row>
              </div>
            </ion-grid>
    </div>
    
    <div class="order">
        <ion-grid>
            <div class="up-order">
                <ion-row>
                <ion-col col-2>
                    <span class="circl bg-red"><ion-icon name="ios-arrow-down-outline"></ion-icon></span>
                </ion-col>
                    <ion-col col-7>
                        <h3>
                            {{ 'request' | translate }}
                        <br>
                        <strong>11/8/2019</strong>
                        </h3>
                    </ion-col>
                    <ion-col col-3>
                        <h5 class="color-red">- 200 ريال</h5>
                    </ion-col>
                </ion-row>
            </div>
        </ion-grid>
    </div>

</ion-content>
