page-my-wallet {
    .back-button{
        display: none !important
    }
    .btn{
        color: #00419b
    }
    .hide, [hidden], template {
        display: block !important;
    }
    .toolbar-background {
        border-color: transparent;
        background: #f8f9fb;
        border-bottom: 1px solid #f5f5f5;
    }
    .toolbar {
        min-height: 50px;
    }
    .toolbar-title {
        color: #00419b;
    }
    .grid, .col{
        padding: 0
    }
    .text-header{
        text-align: center;
        background: #f8f9fb;
        padding-bottom: 10px;
        overflow: hidden;
    }
    .text-header h1{
        font-size: 30px;
        color:rgb(61, 61, 63);
    }
    .text-header span{
        color: #00419b
    }
    .btn-button{
        width: 130px;
        padding: 6px;
        font-size: 12px
    }
    .btn-button img{
        max-width: 15px;
        vertical-align: middle;
        margin: 0px 5px;
    }
    .order{
        margin: 10px 0
    }
    .up-order{
        background: #f8f8f8
    }
    .watting{
        background: #f2f2f2;
        position: relative
    }
    h3, h5 {
        font-size: 10px;
        font-weight: normal;
    }
    h3{
        margin: 14px 0 !important;
    }
    h5{
        margin: 20px 0 !important;
        text-align: center;
    }
    p {
        font-size: 11px;
    }
    .up-order span{
        margin: 10px auto;
        display: table
    }
    .up-order span ion-icon {
        font-size: inherit;
    }
    strong {
        color: #c5c5c5;
        margin-top: 2px;
        display: inline-block;
    }
}
