<ion-header>
    <ion-segment [(ngModel)]="pet" class="segmentUp">
          <ion-segment-button class="active">
              <button class="btns" menuToggle [(ngClass)]='iconRight'><ion-icon name="menu"></ion-icon></button>
          </ion-segment-button>
          <ion-segment-button value="plus2">
              {{ 'DataBalance' | translate }}
          </ion-segment-button>
          <ion-segment-button value="plus1">
              {{ 'Convertpoints' | translate }}
          </ion-segment-button>
    </ion-segment>
  
</ion-header>


<ion-content>

    <div class="bg-content">
        <div [ngSwitch]="pet">
          
            <ion-list *ngSwitchCase="'plus1'">
                <img src="assets/imgs/img-logo.png" class="logo">

                <div class="login">
                    <input type="number" placeholder="{{ 'phone' | translate }}" required>
                    <ion-list>
                      <ion-item>
                        <!-- <ion-label>{{ 'country' | translate }}</ion-label> -->
                        <ion-select [(ngModel)]="city" cancelText="إلغاء" okText="موافق">
                            <ion-option value="one" [selected]="true">تحويل نقاط</ion-option>
                            <ion-option value="two">جدة</ion-option>
                            <ion-option value="three">مصر</ion-option>
                        </ion-select>
                      </ion-item>
                    </ion-list>
                    <ion-list>
                      <ion-item>
                        <!-- <ion-label>{{ 'country' | translate }}</ion-label> -->
                        <ion-select [(ngModel)]="shpka" cancelText="إلغاء" okText="موافق">
                            <ion-option value="1" [selected]="true">المبلغ المراد تحويلة</ion-option>
                            <ion-option value="2">محلية</ion-option>
                            <ion-option value="3">دولية</ion-option>
                        </ion-select>
                      </ion-item>
                  </ion-list>
                    <button class="btn-button bg-blue">{{ 'Conversion' | translate }}</button>
                </div>

            </ion-list>

            <ion-list *ngSwitchCase="'plus2'">
                <div class="point">
                    <ion-segment [(ngModel)]="pets">
                        <ion-segment-button  class="active">
                            <h4>{{ 'Balance' | translate }}</h4>
                        </ion-segment-button>
                        <ion-segment-button value="plus1">
                            {{ 'Conversion' | translate }}
                        </ion-segment-button>
                        <ion-segment-button value="plus2">
                            {{ 'Buy' | translate }}
                        </ion-segment-button>
                        <ion-segment-button value="plus3">
                            {{ 'Sale' | translate }}
                        </ion-segment-button>
                  </ion-segment>
                  <ion-segment [(ngModel)]="pets">
                        <ion-segment-button  class="active">
                            <h4>{{ 'Data' | translate }}</h4>
                        </ion-segment-button>
                        <ion-segment-button value="ver1">
                            {{ 'Conversion' | translate }}
                        </ion-segment-button>
                        <ion-segment-button value="ver2">
                            {{ 'Buy' | translate }}
                        </ion-segment-button>
                        <ion-segment-button value="ver3">
                            {{ 'Sale' | translate }}
                        </ion-segment-button>
                  </ion-segment>
                </div>
            
              <div class="bg-content brest">
                <div [ngSwitch]="pets">
                  
                    <ion-list *ngSwitchCase="'plus1'">
                      <h2>{{ 'transfer' | translate }}</h2>
                        <ion-grid>
                          <ion-row>
                            <ion-col col-4>
                              <button class="botn up">المبلغ</button>
                            </ion-col>
                            <ion-col col-4>
                              <button class="botn up">المبلغ المحول</button>
                            </ion-col>
                              <ion-col col-4>
                                <button class="botn up">حالة الطلب</button>
                              </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col col-4>
                              <button class="botn">12 ريال</button>
                            </ion-col>
                            <ion-col col-4>
                              <button class="botn">21 ريال</button>
                            </ion-col>
                              <ion-col col-4>
                                <button class="botn">فى الأنتظار</button>
                              </ion-col>
                          </ion-row>
                        </ion-grid>
                        
                        <div class="phone">
                            <ion-grid>
                              <ion-row>
                                <ion-col col-4>
                                  <button class="botn up">{{ 'phone' | translate }}</button>
                                </ion-col>
                                <ion-col col-8>
                                  <input type="tel" placeholder="{{ 'phone' | translate }}">
                                </ion-col>
                              </ion-row>
                            </ion-grid>
                        </div>
                        <button class="btn-button bg-blue" (click)="openPopup()">{{ 'done' | translate }}</button>
                    </ion-list>
                    
                    <ion-list *ngSwitchCase="'plus2'">
                        <h2>{{ 'Purchase' | translate }}</h2>
                        <ion-grid>
                          <ion-row>
                            <ion-col col-4>
                              <button class="botn up">الباقة</button>
                            </ion-col>
                            <ion-col col-4>
                              <button class="botn up">مبلغ الشراء</button>
                            </ion-col>
                              <ion-col col-4>
                                <button class="botn up">حالة الطلب</button>
                              </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col col-4>
                              <button class="botn">1 جيجا</button>
                            </ion-col>
                            <ion-col col-4>
                              <button class="botn">9 ريال</button>
                            </ion-col>
                              <ion-col col-4>
                                <button class="botn">فى الأنتظار</button>
                              </ion-col>
                          </ion-row>
                        </ion-grid>
                        <button class="btn-button bg-blue" (click)="openPopup()">{{ 'done' | translate }}</button>
                    </ion-list>
            
                    <ion-list *ngSwitchCase="'plus3'">
                        <h2>{{ 'Sell' | translate }}</h2>
                        <ion-grid>
                          <ion-row>
                            <ion-col col-4>
                              <button class="botn up">المبلغ</button>
                            </ion-col>
                            <ion-col col-4>
                              <button class="botn up">مبلغ البيع</button>
                            </ion-col>
                              <ion-col col-4>
                                <button class="botn up">حالة الطلب</button>
                              </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col col-4>
                              <button class="botn">8 ريال</button>
                            </ion-col>
                            <ion-col col-4>
                              <button class="botn">9 ريال</button>
                            </ion-col>
                              <ion-col col-4>
                                <button class="botn">فى الأنتظار</button>
                              </ion-col>
                          </ion-row>
                        </ion-grid>
                        <button class="btn-button bg-blue" (click)="openPopup()">{{ 'done' | translate }}</button>
                    </ion-list>
            
                </div>
            </div>    
            </ion-list>
        
        </div>
    </div>


</ion-content>
