page-add-point {
    .back-button{
        display: none
    }
    .btns{
        color: #00419b;
        background: transparent;
        font-size: 20px;
        margin: 5px 0
    }
    .toolbar-background {
        border-color: transparent;
        background: transparent;
        border-bottom: 1px solid #f5f5f5;
    }
    .toolbar {
        min-height: 50px;
    }
    .toolbar-title {
        color: #00419b;
    }
    .segmentUp .active{
        flex-basis: 50px !important;
        flex-grow: initial !important;
    }
    .segmentUp .active .activated, 
    .segmentUp .active.segment-activated {
        border-color: transparent !important;
        opacity: 1;
    }
    .segment-md .segment-button.activated, 
    .segment-md .segment-button.segment-activated {
        border-color: #f9f9f9;
        opacity: 1;
        color: #00419b;
        font-weight: bold
    }
    .segment-md .segment-button {
        color: #c9c9c9;
    }
    .logo{
        max-width: 100px;
        display: table;
        margin: 30px auto
    }
    .point{
        margin: 18px 0
    }
    .bg-content{
        padding: 10px;
        margin: 10px 0
    }
    .grid, .col{
        padding: 0
    }
    .up{
        background: #f3f3f3 !important
    }
    h2{
        text-align: center;
        color: #00419b;
        margin-bottom: 30px !important
    }
    .botn{
      border: 1px solid #f9f9f9;
      color: #00204d;
      background: transparent;
      text-align: center;
      height: 4.2rem;
      width: 100%;
      font-weight: normal;
    }
    .phone{
        margin: 10px 0
    }
    .phone .col{
        padding: 0px 5px
    }
    .phone input{
        border-radius: 0px;
        padding: 5px;
        margin: 0;
        height: 4.2rem;
    }
    .brest .btn-button{
        border-radius: 0px;
    }
    .segmentUp .segment-button {
        height: 5.2rem;
        line-height: 5rem;
    }
}
