
<ion-content padding>
    <div class="select-payment">
        <h3>{{ 'Viacode' | translate }}</h3>
        <ion-list radio-group>
        <ion-grid>
          <ion-row>
            <ion-col col-12>
                <ion-label>{{ 'Entercode' | translate }}</ion-label>
                <ion-item>
                    <input type="tel">
                </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
        </ion-list>
        <button class="btn-button bg-blue" (click)="dismiss()">{{ 'Check' | translate }}</button>
    </div>
</ion-content>
