page-promo-code {
    .content {
        color: #00419b;
        background-color:rgba(0,0,0,0.3);
    }
    .select-payment{
        background: #FFF;
        padding: 10px;
        border-radius: 10px;
        top: 50%;
        transform: translateY(-50%);
        position: relative
    }
    .label {
        margin: 0;
        color: #afafaf
    }
    input{
        border-radius: 0px;
        padding: 5px;
        border: 1px solid #dedede
    }
    h3{
        color: #00419b;
        text-align: center
    }
    .item {
        background-color: transparent;
    }
    .item-md.item-block .item-inner {
        border-bottom: 0px solid #dedede;
    }
    .btn-button{
        border-radius: 0px;
    }
}
