
<ion-header>

  <ion-navbar>
    <!-- <ion-title>{{ 'home' | translate }}</ion-title> -->
    <img src="assets/imgs/logo.png" class="logo">
    <img src="assets/imgs/point.png" class="point">
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="login">
      <input type="email" placeholder="{{ 'email' | translate }}" required>
      <input type="password" placeholder="{{ 'password' | translate }}" required>
      <button class="btn-button bg-blue" (click)="openTabs()">{{ 'login' | translate }}</button>
      <p (click)="openRegister()">{{ 'CreateNow' | translate }}</p>
      <span (click)="openForgetPassword()">{{ 'forgetPassword' | translate }}</span>
  </div>

</ion-content>
