page-login {
    .back-button{
        display: none !important
    }
    .login{
        text-align: center;
        padding: 0px 10px
    }
    img.point {
        position: absolute;
        top: -15px;
        left: -58px;
        width: 100%;
        height: 250px;
    }
    img.logo {
        max-width: 125px;
        margin: 10px auto;
        display: table;
    }
    .toolbar {
        padding: 10px !important;
        min-height: 250px !important;
    }
    span{
        color: #828282;
    }
    p{
        color: #00419b;
        text-decoration: underline
    }
}
