
<ion-header>

    <ion-navbar>
      <ion-title>{{ 'CreateNow' | translate }}</ion-title>
      <img src="assets/imgs/point.png" class="point">
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
  
    <div class="login">
        <input type="text" placeholder="{{ 'username' | translate }}" required>
        <input type="number" placeholder="{{ 'phone' | translate }}" required>
        <ion-list>
          <ion-item>
            <!-- <ion-label>{{ 'country' | translate }}</ion-label> -->
            <ion-select [(ngModel)]="city" cancelText="إلغاء" okText="موافق">
                <ion-option value="one" [selected]="true">البلد</ion-option>
                <ion-option value="two">جدة</ion-option>
                <ion-option value="three">مصر</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <ion-list>
          <ion-item>
            <!-- <ion-label>{{ 'country' | translate }}</ion-label> -->
            <ion-select [(ngModel)]="shpka" cancelText="إلغاء" okText="موافق">
                <ion-option value="1" [selected]="true">الشبكة</ion-option>
                <ion-option value="2">محلية</ion-option>
                <ion-option value="3">دولية</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <input type="password" placeholder="{{ 'password' | translate }}" required>
        <button class="btn-button bg-blue" (click)="openTabs()">{{ 'CreateNow' | translate }}</button>
        <p>{{ 'agree' | translate }}  <span (click)="openTerms()">{{ 'terms' | translate }}</span></p>
    </div>
  
  </ion-content>
  