page-register {
    .ion-md-arrow-back:before {
        content: "\f119";
    }
    .back-button-icon {
        font-size: 3.2rem;
    }
    .login{
        text-align: center;
        padding: 0px 10px
    }
    img.point {
        position: absolute;
        top: -20px;
        left: -60px;
    }
    .toolbar {
        padding: 10px !important;
        min-height: 90px !important;
    }
    .login span{
        color: #00419b;
        text-decoration: underline
    }
    .login p{
        color: #828282;
    }
}
