page-tabs {
    .tab-button .ion-md-home {
        content: url("../assets/imgs/home.png") !important;
        width: 20px;
        height: 25px;
    }
    .tab-button .ion-md-cart{
        content: url("../assets/imgs/cart.png") !important;
        width: 20px;
        height: 25px;
    }
    .tab-button .ion-md-briefcase{
        content: url("../assets/imgs/wallet.png") !important;
        width: 20px;
        height: 25px;
    }
    .tab-button .ion-md-person{
        content: url("../assets/imgs/user.png") !important;
        width: 20px;
        height: 25px;
    }
    .tab-button .ion-md-add{
        width: 55px;
        height: 55px;
        line-height: 55px;
        background: #00419b;
        border-radius: 50%;
        position: relative;
        top: -30px;
        color: #FFF !important
    }
    .tab-button .ion-md-add:after{
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 0;
        width: 70px;
        height: 70px;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    }
    .tabs-md[tabsLayout=icon-hide] .tab-button:after, 
    .tabs-md[tabsLayout=title-hide] .tab-button:after, 
    .tabs-md .tab-button.icon-only:after, 
    .tabs-md .tab-button.has-title-only:after{
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: -35px;
        width: 65px;
        height: 65px;
        border-radius: 50%;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    }
    .tabs-md[tabsLayout=icon-hide] .tab-button:before, 
    .tabs-md[tabsLayout=title-hide] .tab-button:before, 
    .tabs-md .tab-button.icon-only:before, 
    .tabs-md .tab-button.has-title-only:before{
        display: none
    }
}
