<ion-tabs>
  <ion-tab [root]="tab1Root" tabIcon="home" tabTitle="{{ 'home' | translate }}"></ion-tab>
  <ion-tab [root]="tab2Root" tabIcon="cart" tabTitle="{{ 'myorder' | translate }}"></ion-tab>
  <ion-tab [root]="tab3Root" tabIcon="add"></ion-tab>
  <ion-tab [root]="tab4Root" tabIcon="briefcase" tabTitle="{{ 'Wallet' | translate }}"></ion-tab>
  <ion-tab [root]="tab5Root" tabIcon="person" tabTitle="{{ 'user' | translate }}"></ion-tab>
</ion-tabs>