page-profile {
    .back-button{
        display: none
    }
    .btn{
        color: #00419b
    }
    .toolbar-background {
        border-color: transparent;
        background: #fafafa;
        border-bottom: 1px solid #fafafa;
    }
    .toolbar {
        min-height: 50px;
    }
    .toolbar-title {
        color: #00419b;
    }
    .grid, .col{
        padding: 0
    }
    .text-header{
        text-align: center;
        background: #fafafa;
        overflow: hidden;
    }
    .site-mune .user{
      position: relative;
      display: table;
      margin: auto;
    }
    .site-mune .user img{
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: #e2ecf6;
      padding: 8px;
    }
    .site-mune .logo{
      width: 30px;
      height: 30px;
      line-height: 32px;
      border-radius: 50%;
      background: #e2ecf6;
      text-align: center;
      position: absolute;
      bottom: 10px;
      color: #1955a6;
      font-weight: bold;
    }
    .site-mune .logo ion-icon{
        font-weight: bold;
    }
    .title p{
        font-size: 11px
    }
    .title p span{
        color: #1955a6;
    }
    .segment-md .segment-button.activated, 
    .segment-md .segment-button.segment-activated {
        border-color: transparent;
    }
    .bg-content{
        padding: 5px;
    }
    .order{
        margin: 10px 0
    }
    .up-order{
        background: #f8f8f8
    }
    .watting{
        background: #f2f2f2;
        position: relative
    }
    h3, h5 {
        font-size: 10px;
        font-weight: normal;
    }
    h3{
        margin: 14px 0 !important;
    }
    h5{
        margin: 20px 0 !important;
        text-align: center;
    }
    p {
        font-size: 11px;
    }
    .up-order span{
        margin: 10px auto;
        display: table
    }
    .up-order span ion-icon {
        font-size: inherit;
    }
    strong {
        color: #c5c5c5;
        margin-top: 2px;
        display: inline-block;
    }
    .button{
        padding: 7px 0px;
        margin: 13px 0;
        color: #fff;
        font-size: 12px;
        width: 55px;
        background: transparent
    }
    ion-segment h4 {
        color: #1955a6;
    }
    .prover{
        position: relative;
    }
    .prover:before{
        content: "";
        position: absolute;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #70db82;
        bottom: 5px;
        right: 2px;    
    }
}
