<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <button class="btn" menuToggle [(ngClass)]='iconRight'><ion-icon name="menu"></ion-icon></button>
    </ion-navbar>
  
    <div class="text-header site-mune">
        <div class="user">
            <img src="{{imgPreview}}">
            <div class="logo" (click)="takePhoto()">
                <ion-icon name="add"></ion-icon>
            </div>
        </div>
        <div class="title">
            <h2>شعوذة</h2>
            <p>الرقم الخاص بك هو <span>( 25456 )</span></p>
        </div>
    </div>
  
</ion-header> 


<ion-content>

    <ion-segment [(ngModel)]="pet">
          <ion-segment-button value="plus1">
              <h4>{{ 'Conversions' | translate }}</h4>
          </ion-segment-button>
          <ion-segment-button value="plus2">
              <h4>{{ 'selling' | translate }}</h4>
          </ion-segment-button>
    </ion-segment>

    <div class="bg-content">
        <div [ngSwitch]="pet">
          
            <ion-list *ngSwitchCase="'plus1'">
               
                <div class="order">
                    <ion-grid>
                      <div class="up-order">
                          <ion-row>
                            <ion-col col-2>
                                <span class="prover"><img class="circl" src="assets/imgs/sh3wza.jpg"></span>
                            </ion-col>
                              <ion-col col-4>
                                  <h3>
                                      بيع رصيد 60 ريال
                                    <br>
                                    <strong>11/8/2019</strong>
                                  </h3>
                              </ion-col>
                              <ion-col col-3>
                                  <h3 class="blue">
                                      4 جيجا
                                    <br>
                                    <strong>11/8/2019</strong>
                                  </h3>
                              </ion-col>
                              <ion-col col-3>
                                  <div class="text-center">
                                      <button class="button bg-red">حذف</button>
                                  </div>
                              </ion-col>
                          </ion-row>
                      </div>
                    </ion-grid>
                </div>

                <div class="order">
                    <ion-grid>
                      <div class="up-order">
                          <ion-row>
                            <ion-col col-2>
                                <span class="prover"><img class="circl" src="assets/imgs/sh3wza.jpg"></span>
                            </ion-col>
                              <ion-col col-4>
                                  <h3>
                                      بيع رصيد 60 ريال
                                    <br>
                                    <strong>11/8/2019</strong>
                                  </h3>
                              </ion-col>
                              <ion-col col-3>
                                  <h3 class="blue">
                                      4 جيجا
                                    <br>
                                    <strong>11/8/2019</strong>
                                  </h3>
                              </ion-col>
                              <ion-col col-3>
                                  <div class="text-center">
                                      <button class="button bg-red">حذف</button>
                                  </div>
                              </ion-col>
                          </ion-row>
                      </div>
                    </ion-grid>
                </div>

                <div class="order">
                    <ion-grid>
                      <div class="up-order">
                          <ion-row>
                            <ion-col col-2>
                                <span class="prover"><img class="circl" src="assets/imgs/sh3wza.jpg"></span>
                            </ion-col>
                              <ion-col col-4>
                                  <h3>
                                      بيع رصيد 60 ريال
                                    <br>
                                    <strong>11/8/2019</strong>
                                  </h3>
                              </ion-col>
                              <ion-col col-3>
                                  <h3 class="blue">
                                      4 جيجا
                                    <br>
                                    <strong>11/8/2019</strong>
                                  </h3>
                              </ion-col>
                              <ion-col col-3>
                                  <div class="text-center">
                                      <button class="button bg-red">حذف</button>
                                  </div>
                              </ion-col>
                          </ion-row>
                      </div>
                    </ion-grid>
                </div>

                <div class="order">
                    <ion-grid>
                      <div class="up-order">
                          <ion-row>
                            <ion-col col-2>
                                <span class="prover"><img class="circl" src="assets/imgs/sh3wza.jpg"></span>
                            </ion-col>
                              <ion-col col-4>
                                  <h3>
                                      بيع رصيد 60 ريال
                                    <br>
                                    <strong>11/8/2019</strong>
                                  </h3>
                              </ion-col>
                              <ion-col col-3>
                                  <h3 class="blue">
                                      4 جيجا
                                    <br>
                                    <strong>11/8/2019</strong>
                                  </h3>
                              </ion-col>
                              <ion-col col-3>
                                  <div class="text-center">
                                      <button class="button bg-red">حذف</button>
                                  </div>
                              </ion-col>
                          </ion-row>
                      </div>
                    </ion-grid>
                </div>

                <div class="order">
                    <ion-grid>
                      <div class="up-order">
                          <ion-row>
                            <ion-col col-2>
                                <span class="prover"><img class="circl" src="assets/imgs/sh3wza.jpg"></span>
                            </ion-col>
                              <ion-col col-4>
                                  <h3>
                                      بيع رصيد 60 ريال
                                    <br>
                                    <strong>11/8/2019</strong>
                                  </h3>
                              </ion-col>
                              <ion-col col-3>
                                  <h3 class="blue">
                                      4 جيجا
                                    <br>
                                    <strong>11/8/2019</strong>
                                  </h3>
                              </ion-col>
                              <ion-col col-3>
                                  <div class="text-center">
                                      <button class="button bg-red">حذف</button>
                                  </div>
                              </ion-col>
                          </ion-row>
                      </div>
                    </ion-grid>
                </div>
            
            </ion-list>
            
            <ion-list *ngSwitchCase="'plus2'">
                <div class="order">
                    <ion-grid>
                      <div class="up-order">
                          <ion-row>
                            <ion-col col-2>
                                <span class="circl bg-green"></span>
                            </ion-col>
                              <ion-col col-5>
                                  <h3>
                                      بيع رصيد 60 ريال
                                    <br>
                                    <strong>11/8/2019</strong>
                                  </h3>
                              </ion-col>
                              <ion-col col-5>
                                  <div class="text-center">
                                      <button class="button bg-green" (click)="openPopup()">تعديل</button>
                                      <button class="button bg-red">حذف</button>
                                  </div>
                              </ion-col>
                          </ion-row>
                      </div>
                    </ion-grid>
                </div>
                
                <div class="order">
                    <ion-grid>
                      <div class="up-order">
                          <ion-row>
                            <ion-col col-2>
                                <span class="circl bg-green"></span>
                            </ion-col>
                              <ion-col col-5>
                                  <h3>
                                      بيع رصيد 60 ريال
                                    <br>
                                    <strong>11/8/2019</strong>
                                  </h3>
                              </ion-col>
                              <ion-col col-5>
                                  <div class="text-center">
                                      <button class="button color-green">ف الانتظار</button>
                                      <button class="button bg-red">حذف</button>
                                  </div>
                              </ion-col>
                          </ion-row>
                      </div>
                    </ion-grid>
                </div>

                <div class="order">
                    <ion-grid>
                      <div class="up-order">
                          <ion-row>
                            <ion-col col-2>
                                <span class="circl bg-red"></span>
                            </ion-col>
                              <ion-col col-5>
                                  <h3>
                                      بيع رصيد 60 ريال
                                    <br>
                                    <strong>11/8/2019</strong>
                                  </h3>
                              </ion-col>
                              <ion-col col-5>
                                  <div class="text-center">
                                      <button class="button color-red">تم طلبة</button>
                                  </div>
                              </ion-col>
                          </ion-row>
                      </div>
                    </ion-grid>
                </div>
            </ion-list>
    
        </div>
    </div>

</ion-content>
