page-home {
    .back-button{
        display: none
    }
    .btn{
        color: #00419b
    }
    .toolbar-background {
        border-color: transparent;
        background: transparent;
        border-bottom: 0px solid #00419b;
    }
    .toolbar {
        min-height: 50px;
    }
    img{
        max-width: 110px;
        margin: auto;
        display: table;
        vertical-align: middle
    }
    h2{
        text-align: center;
        color: #00419b;
        margin-bottom: 30px !important
    }
    .point{
        margin: 18px 0
    }
    .bg-content{
        padding: 10px;
        margin: 10px 0
    }
    .grid, .col{
        padding: 0
    }
    .up{
        background: #f3f3f3 !important
    }
    .botn{
      border: 1px solid #f9f9f9;
      color: #00204d;
      background: transparent;
      text-align: center;
      height: 4.2rem;
      width: 100%;
      font-weight: normal;
    }
    .phone{
        margin: 10px 0
    }
    .phone .col{
        padding: 0px 5px
    }
    .phone input{
        border-radius: 0px;
        padding: 5px;
        margin: 0;
        height: 4.2rem;
    }
    .btn-button{
        border-radius: 0px
    }
}
