
<ion-header>

  <ion-navbar>
    <!-- <ion-title>home</ion-title> -->
  </ion-navbar>

  <button class="btn" menuToggle [(ngClass)]='iconRight'><ion-icon name="menu"></ion-icon></button>

</ion-header>


<ion-content>

    <img src="assets/imgs/img-logo.png">

    <div class="point">
        <ion-segment [(ngModel)]="pet">
            <ion-segment-button  class="active">
                <h4>{{ 'Balance' | translate }}</h4>
            </ion-segment-button>
            <ion-segment-button value="plus1">
                {{ 'Conversion' | translate }}
            </ion-segment-button>
            <ion-segment-button value="plus2">
                {{ 'Buy' | translate }}
            </ion-segment-button>
            <ion-segment-button value="plus3">
                {{ 'Sale' | translate }}
            </ion-segment-button>
      </ion-segment>
      <ion-segment [(ngModel)]="pet">
            <ion-segment-button  class="active">
                <h4>{{ 'Data' | translate }}</h4>
            </ion-segment-button>
            <ion-segment-button value="ver1">
                {{ 'Conversion' | translate }}
            </ion-segment-button>
            <ion-segment-button value="ver2">
                {{ 'Buy' | translate }}
            </ion-segment-button>
            <ion-segment-button value="ver3">
                {{ 'Sale' | translate }}
            </ion-segment-button>
      </ion-segment>
    </div>

  <div class="bg-content">
    <div [ngSwitch]="pet">
      
        <ion-list *ngSwitchCase="'plus1'">
          <h2>{{ 'transfer' | translate }}</h2>
            <ion-grid>
              <ion-row>
                <ion-col col-4>
                  <button class="botn up">المبلغ</button>
                </ion-col>
                <ion-col col-4>
                  <button class="botn up">المبلغ المحول</button>
                </ion-col>
                  <ion-col col-4>
                    <button class="botn up">حالة الطلب</button>
                  </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-4>
                  <button class="botn">12 ريال</button>
                </ion-col>
                <ion-col col-4>
                  <button class="botn">21 ريال</button>
                </ion-col>
                  <ion-col col-4>
                    <button class="botn">فى الأنتظار</button>
                  </ion-col>
              </ion-row>
            </ion-grid>
            
            <div class="phone">
                <ion-grid>
                  <ion-row>
                    <ion-col col-4>
                      <button class="botn up">{{ 'phone' | translate }}</button>
                    </ion-col>
                    <ion-col col-8>
                      <input type="tel" placeholder="{{ 'phone' | translate }}">
                    </ion-col>
                  </ion-row>
                </ion-grid>
            </div>
            <button class="btn-button bg-blue" (click)="openPopup()">{{ 'done' | translate }}</button>
        </ion-list>
        
        <ion-list *ngSwitchCase="'plus2'">
            <h2>{{ 'Purchase' | translate }}</h2>
            <ion-grid>
              <ion-row>
                <ion-col col-4>
                  <button class="botn up">الباقة</button>
                </ion-col>
                <ion-col col-4>
                  <button class="botn up">مبلغ الشراء</button>
                </ion-col>
                  <ion-col col-4>
                    <button class="botn up">حالة الطلب</button>
                  </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-4>
                  <button class="botn">1 جيجا</button>
                </ion-col>
                <ion-col col-4>
                  <button class="botn">9 ريال</button>
                </ion-col>
                  <ion-col col-4>
                    <button class="botn">فى الأنتظار</button>
                  </ion-col>
              </ion-row>
            </ion-grid>
            <button class="btn-button bg-blue" (click)="openPopup()">{{ 'done' | translate }}</button>
        </ion-list>

        <ion-list *ngSwitchCase="'plus3'">
            <h2>{{ 'Sell' | translate }}</h2>
            <ion-grid>
              <ion-row>
                <ion-col col-4>
                  <button class="botn up">المبلغ</button>
                </ion-col>
                <ion-col col-4>
                  <button class="botn up">مبلغ البيع</button>
                </ion-col>
                  <ion-col col-4>
                    <button class="botn up">حالة الطلب</button>
                  </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-4>
                  <button class="botn">8 ريال</button>
                </ion-col>
                <ion-col col-4>
                  <button class="botn">9 ريال</button>
                </ion-col>
                  <ion-col col-4>
                    <button class="botn">فى الأنتظار</button>
                  </ion-col>
              </ion-row>
            </ion-grid>
            <button class="btn-button bg-blue" (click)="openPopup()">{{ 'done' | translate }}</button>
        </ion-list>

    </div>
</div>

</ion-content>
