<ion-header>

  <ion-navbar>
    <ion-title>{{ 'AboutApp' | translate }}</ion-title>
    <img src="assets/imgs/point.png" class="point">
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="text">
    <h4>ستوك نت - Stock Net</h4>
    <p>
        هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.
        إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد، النص لن يبدو مقسما ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع على وجه
    </p>
  </div>

  <img src="assets/imgs/img-logo.png" class="opcty">

</ion-content>
