page-about-app {
    .ion-md-arrow-back:before {
        content: "\f119";
    }
    .back-button-icon {
        font-size: 3.2rem;
    }
    .login{
        text-align: center;
        padding: 0px 10px
    }
    img.point {
        position: absolute;
        top: -20px;
        left: -60px;
    }
    .toolbar {
        padding: 10px !important;
        min-height: 90px !important;
    }
    .text{
        text-align: center
    }
    .text h4{
        color: #00419b;
        margin: 20px 0px !important;
        font-size: 18px;
    }
    .opcty {
        position: fixed;
        opacity: 0.1;
        transform: translateY(-50%) scale(1.7);
        right: -115px;
        top: 50%;
    }
}
