<ion-header>

  <ion-navbar>
    <ion-title>{{ 'callus' | translate }}</ion-title>
    <img src="assets/imgs/point.png" class="point">
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="login">
      <h5>{{ 'senter' | translate }}</h5>
      <input type="text" placeholder="{{ 'massage' | translate }}">
      <textarea placeholder="{{ 'detils' | translate }}"></textarea>
      <button class="btn-button bg-blue">{{ 'Sent' | translate }}</button>
      <ul class="social">
        <li class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></li>
        <li class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></li>
        <li class="google"><i class="fa fa-google-plus" aria-hidden="true"></i></li>
        <li class="skype"><i class="fa fa-skype" aria-hidden="true"></i></li>
      </ul>
  </div>

<img src="assets/imgs/img-logo.png" class="opcty">

</ion-content>
