page-call-us {
    .ion-md-arrow-back:before {
        content: "\f119";
    }
    .back-button-icon {
        font-size: 3.2rem;
    }
    .login{
        text-align: center;
        padding: 0px 10px;
        position: relative;
        z-index: 99;
    }
    img.point {
        position: absolute;
        top: -20px;
        left: -60px;
    }
    .toolbar {
        padding: 10px !important;
        min-height: 90px !important;
    }
    .opcty {
        position: fixed;
        opacity: 0.1;
        transform: translateY(-50%) scale(1.7);
        right: -115px;
        top: 50%;
    }
    input, textarea{
        background: #f3f8fb;
        border: 1px solid #f2f2f2
    } 
    .social{
        margin: 20px 0;
        text-align: center
    }
    .social li{
        width: 30px;
        height: 30px;
        line-height: 30px;
        margin: 5px;
        color: #FFF;
        border-radius: 50%
    }
    .facebook{
        background: #3887e6
    }
    .twitter{
        background: #3fc0fd 
    }
    .google{
        background: #e94b3b
    }
    .skype{
        background: #40c0ff 
    }
}
