page-new-password {
    .ion-md-arrow-back:before {
        content: "\f119";
    }
    .back-button-icon {
        font-size: 3.2rem;
    }
    img.point {
        position: absolute;
        top: -20px;
        left: -60px;
    }
    .toolbar {
        padding: 10px !important;
        min-height: 90px !important;
    }
    .login{
        text-align: center;
        padding: 20px 10px
    }
}
