
<ion-header>

    <ion-navbar>
      <ion-title>{{ 'NewPassword' | translate }}</ion-title>
      <img src="assets/imgs/point.png" class="point">
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
  
    <div class="login">
        <input type="tel" placeholder="{{ 'ValidationCode' | translate }}" required>
        <input type="password" placeholder="{{ 'NewPassword' | translate }}" required>
        <input type="password" placeholder="{{ 'ConfirmNewPassword' | translate }}" required>
        <button class="btn-button bg-blue" (click)="openTabs()">{{ 'Sent' | translate }}</button>
    </div>
  
  </ion-content>
  