
<ion-content padding>

  <div class="select-payment">
      <h3>{{ 'changepassword' | translate }}</h3>
      <input type="password" placeholder="{{ 'OldPassword' | translate }}" required>
      <input type="password" placeholder="{{ 'NewPassword' | translate }}" required>
      <input type="password" placeholder="{{ 'ConfirmNewPassword' | translate }}" required>
      <button class="btn-button bg-blue" (click)="dismiss()">{{ 'Save' | translate }}</button>
  </div>

</ion-content>
