page-change-password {
    .content {
        color: #00419b;
        background-color:rgba(0,0,0,0.3);
    }
    .select-payment{
        background: #FFF;
        padding: 10px;
        border-radius: 10px;
        top: 50%;
        transform: translateY(-50%);
        position: relative
    }
    h3{
        color: #00419b;
        text-align: center
    }
    .btn-button{
        border-radius: 0px;
        padding: 10px;
    }
}
