
<ion-content padding>

    <div class="select-payment">
        <h3>{{ 'card' | translate }} <img src="assets/imgs/card.png"></h3>
        <ion-list radio-group>
        <ion-grid>
          <ion-row>
            <ion-col col-12>
                <ion-label>{{ 'cardnumber' | translate }}</ion-label>
                <ion-item>
                    <input type="text">
                </ion-item>
            </ion-col>
            <ion-col col-6>
                <ion-label>{{ 'date' | translate }}</ion-label>
                <ion-item>
                    <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="Date" cancelText=“إلغاء” doneText=“موافق”></ion-datetime>
                </ion-item>
            </ion-col>
            <ion-col col-6>
                <ion-label>{{ 'Month' | translate }}</ion-label>
                <ion-item>
                    <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="mounth" cancelText=“إلغاء” doneText=“موافق”></ion-datetime>
                </ion-item>
            </ion-col>
            <ion-col col-12>
                <ion-label>CVV</ion-label>
                <ion-item>
                    <input type="text">
                </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
        </ion-list>
        <button class="btn-button bg-blue" (click)="dismiss()">{{ 'Complete' | translate }}</button>
    </div>
  
  </ion-content>
  