page-payment {
    .content {
        color: #00419b;
        background-color:rgba(0,0,0,0.3);
    }
    .select-payment{
        background: #FFF;
        padding: 10px;
        border-radius: 10px;
        top: 50%;
        transform: translateY(-50%);
        position: relative
    }
    .label {
        margin: 0;
        color: #afafaf
    }
    .datetime {
        padding: 10px;
        width: 100%;
        border: 1px solid #DDD;
        margin: 5px 0
    }
    .datetime-text {
        min-width: 100%;
        font-size: 13px;
        text-align: center;
    }
    input{
        border-radius: 0px;
        padding: 5px;
        border: 1px solid #dedede
    }
    h3{
        color: #00419b;
        text-align: center
    }
    h3 img{
        max-width: 50px;
        margin: 0px 5px
    }
    .picker-md .picker-toolbar {
        justify-content: center;
    }
    .item {
        background-color: transparent;
    }
    .item-md.item-block .item-inner {
        border-bottom: 0px solid #dedede;
    }
    .btn-button{
        border-radius: 0px;
    }
}
