/* Style Defult */

@font-face {
    font-family: 'JF-Flat';
    src: url('../assets/fonts/Cairo-Light.ttf');
    src: url('../assets/fonts/Cairo-Regular.ttf'),
    url('../assets/fonts/Cairo-Bold.ttf'),
    url('../assets/fonts/JF-Flat-regular.svg#JF-Flat-regular') format('svg');
  }
  
  ion-app{
    font: 14px 'JF-Flat', sans-serif !important;
  }
  
  h1, h2, h3, h4, h5, h6{
    color: #828282;
    font-size: 15px;
    margin: 10px 0 !important;
    font-weight: bold
  }
  
  p{
    color: #828282;
    font-size: 13px;
    margin: 10px 0
  }
  span{
    display: inline-block
  }
  ul{
    padding: 0;
    margin: 0px;
    list-style: none;
  }
  li{
    display: inline-block
  }

  .shadow{
    -webkit-box-shadow: 0px 0px 2px 0px rgba(155,155,155,1);
    -moz-box-shadow: 0px 0px 2px 0px rgba(155,155,155,1);
    box-shadow: 0px 0px 2px 0px rgba(155,155,155,1);
  }

  .back-rotat {
    -webkit-transform: translateY(-50%) rotate(180deg) !important;
    transform: translateY(-50%) rotate(180deg) !important;
  }

  .circl{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    margin: 0px 3px;
    color: #FFF;
    border-radius: 50%
  }

  .bg-blue{
    background: #6f9ddb !important
  }
  .bg-green{
    background: #70db82 !important
  }
  .bg-red{
    background: #db6f6f !important
  }
  .bg-gress{
    background: #d3f4d9 !important
  }

  .color-green{
      color: #70db82 !important
  }
  .color-red{
      color: #db6f6f !important
  }

  .text-center{
    text-align: center
  }
  
  .btn-button{
    color: #fff;
    padding: 13px;
    border-radius: 30px;
    font-size: 14px;
    background: transparent;
    width: 100%;
    margin: 10px auto;
    display: table;
    border: 1px solid #00419b
  }
  .bg-blue{
    background: #00419b !important;
  }

  .blue{
      color: #00419b !important
  }
  
  .scroll-content {
    will-change: initial;
    contain: initial;
  }
  
  .no-padding{
    padding: 0px !important;
  }

  .toast-md .toast-wrapper {
      background: #f6f6b8;
  }

  .toast-md .toast-message {
      font-size: 1.5rem;
      color: #00419b;
      padding: 10px;
  }

  .dir-right{
    float: right
  }

  .dir-left{
    float: left;
  }

  .loading-md .loading-wrapper {
    border-radius: 2px;
    max-width: 280px;
    max-height: 90%;
    color: rgba(0, 0, 0, 0.5);
    background: #FFF;
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.4);
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
  }

  .loading-md img{
    max-width: 120px
  }

  /* Style Textarea */

  select{
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  label{
    display: block;
    font-size: 13px;
    color: #00419b;
    margin: 5px
  }
  
  input{
    background: transparent;
    border-radius: 30px;
    width: 100%;
    padding: 10px;
    color: #00419b;
    border: 1px solid #adc6e8;
    margin: 7px 0;
    text-align: center
  }
  input:focus::-webkit-input-placeholder,
  textarea:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: 0.5s
  }
  
  .list-md .item-input.item-input-has-focus:last-child,
  .list-md .item-input.input-has-focus:last-child{
    border-bottom-color: transparent;
    -webkit-box-shadow: inset 0 0px 0 0 #488aff;
    box-shadow: inset 0 0px 0 0 #488aff;
  }
  
  input::-webkit-input-placeholder {
    color: #00419b;
    opacity: 1;
  }
  
  input::-moz-placeholder {
    color: #00419b;
    opacity: 1;
  }
  
  input:-ms-input-placeholder {
    color: #00419b;
    opacity: 1;
  }
  
  input:-moz-placeholder {
    color: #00419b;
    opacity: 1;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Style Textarea */
  
  textarea{
    width: 100%;
    padding: 7px;
    background-color: transparent;
    border: 1px solid #adc6e8;
    color: #00419b;
    border-radius: 30px;
    margin: 5px 0;
    resize: none;
    min-height: 150px;
    text-align: center;
  }
  
  textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #00419b;
    opacity: 1;
  }
  
  textarea::-moz-placeholder { /* Firefox 19+ */
    color: #00419b;
    opacity: 1;
  }
  
  textarea:-ms-input-placeholder { /* IE 10+ */
    color: #00419b;
    opacity: 1;
  }
  
  textarea:-moz-placeholder { /* Firefox 18- */
    color: #00419b;
    opacity: 1;
  }
  
  /* Style Toolbar-title */
  
  .toolbar {
    padding: 10px;
    min-height: 60px;
  }
  
  .toolbar-background {
    border-color: transparent;
    background: #00419b;
    border-bottom: 0px solid #00419b;
  }
  
  .toolbar-title {
    color: #fff;
    text-align: center;
    position: absolute;
    z-index: 99;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .toolbar-title {
    font-size: 16px;
  }
  
  .header::after,
  .tabs[tabsPlacement="top"] > .tabbar::after,
  .footer-md::before, .tabs[tabsPlacement="bottom"] > .tabbar::before{
    display: none;
  }
  
  .ion-md-arrow-back:before {
    content: "\f3d1";
  }
  
  .back-button {
    display: block;
    color: #fff;
    position: absolute;
    z-index: 99;
    top: 50%;
    transform: translateY(-50%);
    min-width: auto;
    right: 10px;
  }

  .btn{
    background: transparent;
    color: #fff;
    font-size: 19px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 20;
  }

  .right{
    right: 15px;
  }

  .left{
      left: 15px;
  }
  
  /* Style content */
  
  .content {
    color: #00419b;
    background-color: #fff;
  }
  
  /* Style Tabs */
  
  .tabs .tabbar {
    background: #fff;
    border-top: 1px solid #e4e4e4;
  }
  
  .tabs .tab-button[aria-selected=true] {
    color: #fff;
  }
  
  .tabs .tab-button:before{
    content: "";
    position: absolute;
    background: #00419b;
    width: 100%;
    height: 100%;
    top: 0px;
    right: 0;
    left: 0;
    margin: auto;
    opacity: 0;
    transition: 0.5s;
    transform: translateY(-100%);
  }
  
  .tabs .tab-button[aria-selected=true]:before {
    width: 100%;
    opacity: 1;
    transform: translateY(0%);
  }
  
  .tabs .tab-button[aria-selected=true] .tab-button-icon {
    color: #fff;
    transform: translateY(0%) translate3d(0,  0px,  0) !important;
  }
  
  .tabs .tab-button {
    color: #c8c8c8;
    min-height: 5.5rem;
    overflow: inherit;
  }
  
  .tabs .tab-button-icon{
    color: #c8c8c8;
    margin-top: 0px;
    font-size: 2.5rem;
  }
  
  .tabs .tab-button-text {
    font-size: 0.9rem;
    margin: 0 !important;
  }

  /* Start Segmant */
  
  ion-segment .grid,
  ion-segment .col{
      padding: 0
  }
  ion-segment {
      direction: rtl;
  }
  ion-segment h4{
      color: #828282;
      border: 0px;
      overflow: initial;
      width: auto !important;
      border: 1px solid #f9f9f9;
      background: #eaeaea;
      padding: 0 6px;
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 4rem;
      margin: 0px !important;
      height: 4.2rem;
      text-align: center;
      font-weight: bold
  }
  .segment-md .segment-button{
      color: #00204d;
      border: 0px;
      overflow: initial;
      width: auto !important;
      border: 1px solid #f9f9f9;
      padding: 0
  }
  .segment-md .segment-button::before{
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      background: #00204d;
      width: 0%;
      height: 1px;
      transition: 0.5s
  }
  .segment-md .segment-button.activated::before,
  .segment-md .segment-button.segment-activated::before {
      opacity: 1; 
      width: 100%
  }
  .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
    border-color: #eaeaea;
    opacity: 1;
  } 

  /* Start site-mune */

  .bar-button-default:hover:not(.disable-hover),
  .bar-button-clear-default:hover:not(.disable-hover),
  .bar-button-default:hover:not(.disable-hover) {
    color: #565b5f;
  }
  
  .button-md-light:hover:not(.disable-hover) {
    background-color: #f55257;
  }
  
  .site-mune .md ion-menu[type=overlay] .menu-inner {
    -webkit-box-shadow: 0 0 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.25);
  }
  
  .site-mune .header-md::after,
  .site-mune .tabs[tabsPlacement="top"] > .tabbar::after,
  .site-mune .footer-md::before,
  .site-mune .tabs[tabsPlacement="bottom"] > .tabbar::before {
    display: none;
  }
  
  .site-mune .item {
    padding-left: 0;
    color: #565b5f;
    background-color: transparent;
  }

  .site-mune .item ion-icon{
    display: table;
    margin: auto;
  }

  .site-mune .item-md ion-icon[item-left] + .item-inner,
  .site-mune .item-md ion-icon[item-left] + .item-input,
  .site-mune .item-md ion-icon[item-start] + .item-inner,
  .site-mune .item-md ion-icon[item-start] + .item-input {
    margin-left: 0;
  }

  .site-mune button{
    background: transparent;
    width: 100%;
    margin: 5px 0;
    font-size: 14px;
    padding: 9px 15px;
    color: #cacaca;
    position: relative;
    z-index: 99;
    margin-top: 0px
  }
  .site-mune button::before{
    content: "";
    position: absolute;
    background: rgba(225,225,225,0.2);
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: 0.5s
  }
  .site-mune button.active::before{
    transform: translateX(0%);
  }
  .site-mune button img{
    max-width: 23px;
    vertical-align: middle;
    margin: 0px 5px
  }

  .site-mune button:last-child{
    position: absolute;
    bottom: 0;
  }

  #right button{
    text-align: right;
  }

  #left button{
    text-align: left;
  }

  .site-mune .header {
      position: relative;
      text-align: center;
      background: #00419b;
      padding: 20px 0
  }

  .site-mune .user{
    position: relative;
    display: table;
    margin: auto;
  }
  .site-mune .user img{
    width: 115px;
    height: 115px;
    border-radius: 50%;
    background: #1955a6;
    padding: 8px;
  }
  .site-mune .logo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #e2ecf6;
    text-align: center;
    position: absolute;
    bottom: 0px
  }
  .site-mune .logo img{
      max-width: 35px;
      width: auto;
      height: auto;
      background: transparent;
      padding: 7px 0
  }

  .header h3{
      position: relative;
      color: #FFF
  }

  /* Style select */

  .select {
    border: 1px solid #adc6e8;
    padding: 10px;
    border-radius: 30px;
  }
  ion-select{
    max-width: 100%;
    width: 100%;
    text-align: center;
  }
  ion-select .label {
    margin: 0px 0;
    font-size: 13px;
    text-align: center;
    color: #00419b !important;
  }
  .item-md.item-block .item-inner {
    padding-right: 0;
  }
  .item {
    padding-left: 0;
    min-height: auto;
    color: #00419b !important;
  }
  .list {
    margin: 12px 0;
  }
  .select-text {
    min-width: 17px;
    font-size: 12px;
    vertical-align: middle;
  }
  ion-select .list {
    margin: 10px 0;
    border: 1px solid #adc6e8;
    padding: 10px;
    border-radius: 30px;
  }
  ion-select .inner-input .select {
    padding: 5px;
    max-width: 100%;
    width: 100%;
  }
  .inner-input .item {
    padding-left: 0;
    background: transparent
  }
  .inner-input .list {
    margin: 0px;
    -webkit-box-shadow: 0px 0px 2px 0px #9b9b9b;
    box-shadow: 0px 0px 2px 0px #9b9b9b;
    border-radius: 5px;
  }
  .alert-md .alert-radio-icon {
    left: auto;
    right: 15px;
  }
  .alert-md .alert-head {
    padding: 0px;
    // text-align: center;
    // color: #00204d
  }
  .alert-md .alert-radio-label {
    padding: 10px 25px;
  }
  .alert-title{
    color: #00204d
  }
  .alert-md [aria-checked=true] .alert-radio-label {
    color: #00204d;
  }
  .alert-md .alert-radio-inner {
    background-color: #00204d;
  }
  .alert-md .alert-radio-icon {
    border-color: #00204d !important;
  }
  .alert-md .alert-button-group {
    padding: 10px;
    justify-content: center;
    flex-direction: row-reverse;
  }
  .alert-md .alert-button {
    text-align: center;
    color: #00204d;
    margin: 0;
  }
  .select-md .select-icon {
    position: relative;
    width: 12px;
    height: 19px;
    left: -5px;
    top: 3px;
  }
  .select-md .select-icon .select-icon-inner {
    color: #00204d;
  }
  .select-text {
    font-size: 14px;
  }
  .inner-input .item-md.item-block .item-inner {
    padding-right: 0px;
  }
  .select-md .select-icon .select-icon-inner {
    margin-top: 0px;
    transform: translateY(-50%);
  }

  /* Block Section */

  

  /* chickbox */
  
  .ckicked {
    display: block;
    position: relative;
    margin: 15px 0;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #888;
    background-color: transparent;
    border: 0px solid #ededee;
    padding-right: 35px;
  }
  
  .ckicked input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .ckicked .checkmark {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 20px;
    width: 20px;
    background-color: #e2e2e2;
    border-radius: 3px;
  }
  
  .ckicked:hover input ~ .checkmark {
    background-color: #e2e2e2;
    border: 0;
  }
  
  .ckicked input:checked ~ .checkmark {
    background-color: #e2e2e2;
    border: 0;
  }
  
  .ckicked .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .ckicked input:checked ~ .checkmark:after {
    display: block;
  }
  
  .ckicked .checkmark:after {
    left: 9px;
    top: -4px;
    width: 7px;
    height: 15px;
    border: solid #f55257;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* Radio buttom */

.radios {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radios input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radios:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radios input:checked ~ .checkmark {
  background-color: transparent;
  border: 1px solid #f55257
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radios input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radios .checkmark:after {
  top: 4px;
  left: 0px;
  right: 0px;
  margin: auto;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #f55257;
}
  