<div class="site-mune">
    
    <ion-menu id="right" [content]="content" side="right" type="overlay">
        <ion-content>

            <div class="header">
                <div class="user">
                    <img src="assets/imgs/sh3wza.jpg">
                    <div class="logo">
                        <img src="assets/imgs/img-logo.png">
                    </div>
                </div>
                <h3 (click)="openProfile()">
                    شعوذة
                </h3>
            </div>

            <button (click)="openTabs()" menuClose class="active">
                <img src="assets/imgs/home.png">
                {{ 'home' | translate }}
            </button>
            <button (click)="openWallet()" menuClose>
                <img src="assets/imgs/wallet.png">
                {{ 'Wallet' | translate }}
            </button>
            <button (click)="openTerms()" menuClose>
                <img src="assets/imgs/list.png">
                {{ 'terms' | translate }}
            </button>
            <button (click)="openCall()" menuClose>
                <img src="assets/imgs/call.png">
                {{ 'callus' | translate }}
            </button>
            <button (click)="openAbout()" menuClose>
                <img src="assets/imgs/info.png">
                {{ 'AboutApp' | translate }}
            </button>
            <button (click)="openShare()" menuClose>
                <img src="assets/imgs/share.png">
                {{ 'share' | translate }}
            </button>
            <button (click)="openSetting()" menuClose>
                <img src="assets/imgs/setting.png">
                {{ 'setting' | translate }}
            </button>
            <button (click)="openLogin()" menuClose>
                <img src="assets/imgs/logout.png">
                {{ 'logout' | translate }}
            </button>
        </ion-content>
    </ion-menu>

    <ion-menu id="left" [content]="content" side="left" type="overlay">
        <ion-content>

            <div class="header">
                <div class="user">
                    <img src="assets/imgs/sh3wza.jpg">
                    <div class="logo">
                        <img src="assets/imgs/img-logo.png">
                    </div>
                </div>
                <h3 (click)="openProfile()">
                    شعوذة
                </h3>
            </div>

            <button (click)="openTabs()" menuClose class="active">
                <img src="assets/imgs/home.png">
                {{ 'home' | translate }}
            </button>
            <button (click)="openWallet()" menuClose>
                <img src="assets/imgs/wallet.png">
                {{ 'Wallet' | translate }}
            </button>
            <button (click)="openTerms()" menuClose>
                <img src="assets/imgs/list.png">
                {{ 'terms' | translate }}
            </button>
            <button (click)="openCall()" menuClose>
                <img src="assets/imgs/call.png">
                {{ 'callus' | translate }}
            </button>
            <button (click)="openAbout()" menuClose>
                <img src="assets/imgs/info.png">
                {{ 'AboutApp' | translate }}
            </button>
            <button (click)="openShare()" menuClose>
                <img src="assets/imgs/share.png">
                {{ 'share' | translate }}
            </button>
            <button (click)="openSetting()" menuClose>
                <img src="assets/imgs/setting.png">
                {{ 'setting' | translate }}
            </button>
            <button (click)="openLogin()" menuClose>
                <img src="assets/imgs/logout.png">
                {{ 'logout' | translate }}
            </button>
        </ion-content>
    </ion-menu>

</div>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
