page-select-payment {
    .content {
        color: #00419b;
        background-color:rgba(0,0,0,0.3);
    }
    .select-payment{
        background: #FFF;
        padding: 10px;
        border-radius: 10px;
        top: 50%;
        transform: translateY(-50%);
        position: relative
    }
    .item-radio-checked.item-md ion-label,
    ion-label {
        color: #a6a6a6;
    }
    h3{
        color: #00419b;
        text-align: center
    }
    .radio .radio-checked {
        border-color: #d1d1d1;
    }
    .radio-md .radio-inner {
        background-color: #696969;
    }
    .item .radio {
        position: absolute;
        display: block;
        margin: 0px;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 100%;
    }
    .radio .radio-icon {
        top: 50%;
        transform: translateY(-50%);
    }
    .item {
        background-color: transparent;
    }
    .item-md.item-block .item-inner {
        border-bottom: 0px solid #dedede;
    }
    .label {
        margin: 5px 30px !important;
        font-size: 14px;
    }
    .btn-button{
        border-radius: 0px;
        padding: 10px;
    }
}
