
<ion-content padding>

  <div class="select-payment">
      <h3>{{ 'method' | translate }}</h3>
      <ion-list radio-group>
      <ion-item>
        <ion-label>{{ 'card' | translate }}</ion-label>
        <ion-radio value="plus1"></ion-radio>
      </ion-item>
      <ion-item (click)="dismiss()">
        <ion-label>{{ 'wallet' | translate }}</ion-label>
        <ion-radio value="plus2"></ion-radio>
      </ion-item>
      <ion-item (click)="dismiss()">
        <ion-label>{{ 'payment' | translate }}</ion-label>
        <ion-radio value="plus3"></ion-radio>
      </ion-item>
      <ion-item (click)="dismiss()">
          <ion-label>{{ 'promo' | translate }}</ion-label>
          <ion-radio value="plus4"></ion-radio>
      </ion-item>
      </ion-list>
      <button class="btn-button bg-blue" (click)="openPayment()">{{ 'continue' | translate }}</button>
  </div>

</ion-content>
