
<ion-content padding>

    <div class="select-payment">
        <h3>{{ 'Editview' | translate }}</h3>
        <ion-list radio-group>
        <ion-grid>
          <ion-row>
            <ion-col col-12>
                <ion-list>
                  <ion-item>
                    <!-- <ion-label>{{ 'country' | translate }}</ion-label> -->
                    <ion-select [(ngModel)]="city" cancelText="إلغاء" okText="موافق">
                        <ion-option value="one" [selected]="true">عرض الباقات</ion-option>
                        <ion-option value="two">جدة</ion-option>
                        <ion-option value="three">مصر</ion-option>
                    </ion-select>
                  </ion-item>
                </ion-list>
            </ion-col>
            <ion-col col-12>
                <input type="text" placeholder="25 جيجا">
            </ion-col>
            <ion-col col-12>
                <input type="text" placeholder="21 ريال">
            </ion-col>
          </ion-row>
        </ion-grid>
        </ion-list>
        <button class="btn-button bg-blue" (click)="dismiss()">{{ 'Edite' | translate }}</button>
    </div>
  
  </ion-content>
  