
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'setting' | translate }}</ion-title>
    <img src="assets/imgs/point.png" class="point">
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="login">

      
      <!-- <select [ngModel]="selectedDevice" (ngModelChange)="onChange($event)" name="sel2">
          <option [value]="i">cscscs</option>
          <option [value]="i">cscscs</option>
          <option [value]="i">cscscs</option>
          <option [value]="i">cscscs</option>
          <option [value]="i">cscscs</option>
      </select> -->

      <ion-list>
        <ion-item>
          <!-- <ion-label>{{ 'country' | translate }}</ion-label> -->
          <ion-select (ngModelChange)="onChange($event)" [(ngModel)]="city" cancelText="إلغاء" okText="موافق">
              <ion-option>اللغة</ion-option>
              <ion-option value="one" [selected]="true">عربى</ion-option>
              <ion-option value="two">English</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item>
          <!-- <ion-label>{{ 'country' | translate }}</ion-label> -->
          <ion-select [(ngModel)]="shpka" cancelText="إلغاء" okText="موافق">
              <ion-option value="1" [selected]="true">العملة</ion-option>
              <ion-option value="2">محلية</ion-option>
              <ion-option value="3">دولية</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <h5>{{ 'Profile' | translate }}</h5>
      <input type="text" placeholder="{{ 'username' | translate }}" required value="شعوذة">
      <div class="plus">
        <input type="number" placeholder="{{ 'phone' | translate }}" required value="01001846667">
        <span><ion-icon name="add" (click)="addComponent()"></ion-icon></span>
      </div>
      <div #block>
        
      </div>
      <input type="password" placeholder="{{ 'changepassword' | translate }}" required (click)="openPopup()">
      <button class="btn-button bg-blue">{{ 'Save' | translate }}</button>
  </div>

</ion-content>
