page-setting {
    .ion-md-arrow-back:before {
        content: "\f119";
    }
    .back-button-icon {
        font-size: 3.2rem;
    }
    .login{
        text-align: center;
        padding: 0px 10px
    }
    img.point {
        position: absolute;
        top: -20px;
        left: -60px;
    }
    .toolbar {
        padding: 10px !important;
        min-height: 90px !important;
    }
    h5 {
        color: #00419b;
        margin: 20px 0 !important;
    }
    .plus{
        position: relative;
    }
    .plus span{
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        background: #bfcfe6;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        color: #FFF;
    }
}
