
<ion-header>

    <ion-navbar>
      <ion-title>{{ 'forgetPassword' | translate }}</ion-title>
      <img src="assets/imgs/point.png" class="point">
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
  
    <div class="login">
        <input type="email" placeholder="{{ 'email' | translate }}" required>
        <button class="btn-button bg-blue" (click)="openNewPassword()">{{ 'Sent' | translate }}</button>
    </div>
  
  </ion-content>
  