page-my-order {
    .back-button{
        display: none
    }
    .btn{
        color: #00419b
    }
    .toolbar-background {
        border-color: transparent;
        background: transparent;
        border-bottom: 1px solid #f5f5f5;
    }
    .toolbar {
        min-height: 50px;
    }
    .toolbar-title {
        color: #00419b;
    }
    .grid, .col{
        padding: 0
    }
    .order{
        text-align: center;
        margin: 10px 0
    }
    .up-order{
        background: #f8f8f8
    }
    .watting{
        background: #f2f2f2;
        position: relative
    }
    .watting span{
        position: absolute;
        background: #db6f6f;
        width: 50px;
        height: 100%;
        top: 0px;
        left: 0;
        padding: 11px

    }
    .watting span img{
        max-width: 15px;
    }
    h1, h2, h3, h4, h5, h6 {
        font-size: 14px;
        font-weight: normal;
    }
    h2, h5{
        margin: 14px !important
    }
    h6{
        text-align: center;
        background: #f8f8f8;
        padding: 12px;
        width: 75%;
        margin: 25px auto !important;
        border-radius: 5px;    
    }
}
