<!--
  Generated template for the MyOrderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>{{ 'Current' | translate }}</ion-title>
    </ion-navbar>
  
    <button class="btn" menuToggle [(ngClass)]='iconRight'><ion-icon name="menu"></ion-icon></button>
  
</ion-header>


<ion-content padding>

    <div class="order">
        <ion-grid>
          <div class="up-order">
              <ion-row>
                  <ion-col col-4>
                      <h3>
                        <span class="circl bg-blue">1</span>
                        12112
                      </h3>
                  </ion-col>
                  <ion-col col-4>
                      <h2>بيع</h2>
                  </ion-col>
                  <ion-col col-4>
                      <h5>12112</h5>
                  </ion-col>
              </ion-row>
          </div>
          <div class="watting">
              <ion-row>
                <ion-col col-12>
                    <p>
                      فى  الإنتظار
                      <span><img src="assets/imgs/cart.png"></span>
                    </p>
                </ion-col>
              </ion-row>
          </div>
        </ion-grid>
    </div>

    <div class="order">
        <ion-grid>
          <div class="up-order">
              <ion-row>
                  <ion-col col-4>
                      <h3>
                        <span class="circl bg-green">2</span>
                        12112
                      </h3>
                  </ion-col>
                  <ion-col col-4>
                      <h2>بيع</h2>
                  </ion-col>
                  <ion-col col-4>
                      <h5>12112</h5>
                  </ion-col>
              </ion-row>
          </div>
          <div class="watting">
              <ion-row>
                <ion-col col-12>
                    <p>
                      فى  الإنتظار
                      <span><img src="assets/imgs/cart.png"></span>
                    </p>
                </ion-col>
              </ion-row>
          </div>
        </ion-grid>
    </div>

    <div class="order">
        <ion-grid>
          <div class="up-order">
              <ion-row>
                  <ion-col col-4>
                      <h3>
                        <span class="circl bg-red">2</span>
                        12112
                      </h3>
                  </ion-col>
                  <ion-col col-4>
                      <h2>بيع</h2>
                  </ion-col>
                  <ion-col col-4>
                      <h5>12112</h5>
                  </ion-col>
              </ion-row>
          </div>
          <div class="watting bg-gress">
              <ion-row>
                <ion-col col-12>
                    <p>
                      فى  الإنتظار
                      <span><img src="assets/imgs/cart.png"></span>
                    </p>
                </ion-col>
              </ion-row>
          </div>
        </ion-grid>
    </div>

    <h6>
      رقم الجوال : 01001846667
    </h6>

</ion-content>
